@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(33, 29, 34);
  color: rgba(250, 249, 249, 0.99);
}

body > h1 {
  text-align: center;
  margin-top: 5vh;
  font-family: "poppins", sans-serif, serif;
}

.quoteContainer {
  background-color: #fdd835;
  color: black;
  width: 50%;
  height: 70vh;
  display: block;
  margin: auto;
  margin-top: 5vh;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2);
  align-items: center;
  justify-content: center;
}
.changeQuotes {
  display: block;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 2vh;
  width: auto;
  height: 48vh;
  padding: 10px;
}

.changeQuotes > p {
  text-align: center;
  font-size: 20px;
}

#btnChange {
  display: block;
  margin: auto;
  margin-top: 5vh;
  padding: 10px;
  font-size: 20px;
  background-color: #ff0909;
  color: rgb(255, 255, 255);
  /* border: ; */
  border-radius: 10px;
}
